<div>
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DT Admin - Eventstore</span>
      <span class="example-spacer"></span>
      <mat-form-field style="font-size: 12px; width: 100px; padding-top: 10px" >
        <mat-label>Environment</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="option1">TST</mat-option>
          <mat-option value="option2">STG</mat-option>
          <mat-option value="option3" disabled>PRD</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
  </p>

  <div>
    <form [formGroup]="searchForm" (ngReset)="onReset()" (ngSubmit)="onSubmit()">
      <div class="search-form-container">
        <div class="left-search-form-col">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Event Identifier</mat-label>
            <input matInput formControlName="eventIdentifier">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Aggregate Identifier</mat-label>
            <input matInput formControlName="aggregateIdentifier">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline" style="width: 50%">
            <mat-label>Payload Type</mat-label>
            <input matInput formControlName="payloadSimpleType">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Payload Content</mat-label>
            <input matInput formControlName="payloadContent">
          </mat-form-field>
        </div>

        <div class="right-search-form-col">
          <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabClick($event)">
            <mat-tab label="Quick Time Range">
              <div class="time-search-form-col">
                <div class="box2">
                  <mat-selection-list formControlName="quickSearchDescription" class="date-quick-search-options" [multiple]="false">
                    <mat-list-option *ngFor="let option of dateQuickSearchOptions" [value]="option" class="date-quick-search-option">
                      {{option.description}}
                    </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Absolute Time Range">
              <div class="time-search-form-col">
                <div class="box2">
                  <mat-form-field style="padding: 20px">
                    <input matInput [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time" [(ngModel)]="fromDatePicker"
                           formControlName="absoluteFromDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerFrom [enableMeridian]="true"></ngx-mat-datetime-picker>
                  </mat-form-field>
                  <mat-form-field style="padding: 20px">
                    <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time" [(ngModel)]="toDatePicker"
                           formControlName="absoluteToDate"
                           [min]="fromDatePicker">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerTo [enableMeridian]="true"></ngx-mat-datetime-picker>
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="button-row">
          <button type="submit" mat-flat-button color="primary">Search</button>
          <button type="reset" mat-flat-button color="accent">Reset</button>

        </div>
      </div>
    </form>
  </div>

  <mat-paginator class="col-text" [length]="totalHits" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>

  <table mat-table [dataSource]="dataSource" matSort matSortActive="seqNo" matSortDirection="desc" multiTemplateDataRows class="mat-elevation-z8">
    <!-- PayloadType Column -->
    <ng-container matColumnDef="payloadSimpleType">
      <th mat-header-cell class="payload-col col-text" *matHeaderCellDef> Payload Type</th>
      <td mat-cell *matCellDef="let event">{{event.payloadSimpleType}}</td>
    </ng-container>
    <!-- Revision Column -->
    <ng-container matColumnDef="payloadRevision">
      <th mat-header-cell class="revision-col col-text" *matHeaderCellDef> Revision</th>
      <td mat-cell *matCellDef="let event">{{event.payloadRevision}}</td>
    </ng-container>
    <!-- TimeStamp Column -->
    <ng-container matColumnDef="timeStamp">
      <th mat-header-cell class="timestamp-col col-text" *matHeaderCellDef mat-sort-header>Timestamp</th>
      <td mat-cell *matCellDef="let event"><span class="ellipsis">{{event.timeStamp}}</span></td>
    </ng-container>
    <!-- PayloadType Column -->
    <ng-container matColumnDef="eventIdentifier">
      <th mat-header-cell *matHeaderCellDef class="col-text"> Event Id</th>
      <td mat-cell *matCellDef="let event"><span class="ellipsis">{{event.eventIdentifier}}</span></td>
    </ng-container>
    <!-- PayloadType Column -->
    <ng-container matColumnDef="aggregateIdentifier">
      <th mat-header-cell *matHeaderCellDef class="col-text"> Aggregate Id</th>
      <td mat-cell *matCellDef="let event"><span class="ellipsis">{{event.aggregateIdentifier}}</span></td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="col-text"> Aggregate</th>
      <td mat-cell *matCellDef="let event"><span class="ellipsis">{{event.type}}</span></td>
    </ng-container>
    <!-- Global Index Column -->
    <ng-container matColumnDef="globalIndex">
      <th mat-header-cell *matHeaderCellDef class="col-text"> Global Index</th>
      <td mat-cell *matCellDef="let event"><span class="ellipsis">{{event.globalIndex}}</span></td>
    </ng-container>
    <!-- Sequence number Column -->
    <ng-container matColumnDef="sequenceNumber">
      <th mat-header-cell *matHeaderCellDef class="col-text"> Seq Nr</th>
      <td mat-cell *matCellDef="let event"><span class="ellipsis">{{event.sequenceNumber}}</span></td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container class="container-100" matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail json-payload-text" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div>
            <pre><div>{{formattedPayload()}}</div></pre>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Header and row declarations -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

